<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>grouptitle</key>
		<string>生活娱乐</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>黔南购物</string>
				<key>forumid</key>
				<integer>85</integer>
				<key>forumicon</key>
				<string>gou.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>黔南影院</string>
				<key>forumid</key>
				<integer>84</integer>
				<key>forumicon</key>
				<string>ying.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>特色小店</string>
				<key>forumid</key>
				<integer>81</integer>
				<key>forumicon</key>
				<string>dian.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>美食天下</string>
				<key>forumid</key>
				<integer>43</integer>
				<key>forumicon</key>
				<string>chi.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>旅行探险</string>
				<key>forumid</key>
				<integer>42</integer>
				<key>forumicon</key>
				<string>lv.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>摄影美图</string>
				<key>forumid</key>
				<integer>70</integer>
				<key>forumicon</key>
				<string>tu.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>黔南楼市</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>房屋出租</string>
				<key>forumid</key>
				<integer>46</integer>
				<key>forumicon</key>
				<string>zu.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>房产出售</string>
				<key>forumid</key>
				<integer>47</integer>
				<key>forumicon</key>
				<string>shou.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>楼市动态</string>
				<key>forumid</key>
				<integer>82</integer>
				<key>forumicon</key>
				<string>wen.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>便民生活</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>黔南求职</string>
				<key>forumid</key>
				<integer>48</integer>
				<key>forumicon</key>
				<string>zhi.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>企业招聘</string>
				<key>forumid</key>
				<integer>49</integer>
				<key>forumicon</key>
				<string>pin.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>二手转让</string>
				<key>forumid</key>
				<string>50</string>
				<key>forumicon</key>
				<string>zhuan.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>教育培训</string>
				<key>forumid</key>
				<integer>51</integer>
				<key>forumicon</key>
				<string>jiao.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>健康指南</string>
				<key>forumid</key>
				<integer>52</integer>
				<key>forumicon</key>
				<string>jian.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>家居装饰</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>装修讨论</string>
				<key>forumid</key>
				<integer>77</integer>
				<key>forumicon</key>
				<string>lunzx.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>装修图库</string>
				<key>forumid</key>
				<integer>79</integer>
				<key>forumicon</key>
				<string>zxtu.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>家电杂谈</string>
				<key>forumid</key>
				<integer>78</integer>
				<key>forumicon</key>
				<string>jiadian.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>谈婚论嫁</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>征婚交友</string>
				<key>forumid</key>
				<integer>55</integer>
				<key>forumicon</key>
				<string>zhenghun.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>婚姻交流</string>
				<key>forumid</key>
				<integer>56</integer>
				<key>forumicon</key>
				<string>hunyin.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>两性生活</string>
				<key>forumid</key>
				<integer>58</integer>
				<key>forumicon</key>
				<string>xing.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>爱车一族</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>学驾沙龙</string>
				<key>forumid</key>
				<integer>80</integer>
				<key>forumicon</key>
				<string>xueche.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>购车交流</string>
				<key>forumid</key>
				<integer>60</integer>
				<key>forumicon</key>
				<string>gouche.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>维修保养</string>
				<key>forumid</key>
				<integer>61</integer>
				<key>forumicon</key>
				<string>yangche.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>grouptitle</key>
		<string>时尚丽人</string>
		<key>forums</key>
		<array>
			<dict>
				<key>forumtitle</key>
				<string>美丽妆颜</string>
				<key>forumid</key>
				<integer>72</integer>
				<key>forumicon</key>
				<string>zhuang.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>瘦身美体</string>
				<key>forumid</key>
				<integer>73</integer>
				<key>forumicon</key>
				<string>shoushen.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>街拍搭配</string>
				<key>forumid</key>
				<integer>74</integer>
				<key>forumicon</key>
				<string>jiepai.png</string>
			</dict>
			<dict>
				<key>forumtitle</key>
				<string>风尚男人</string>
				<key>forumid</key>
				<integer>75</integer>
				<key>forumicon</key>
				<string>shang.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
